# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
*.env

# Logs
*.log

# Docker-related (if any)
Dockerfile*
docker-compose*.yml

# Git
.git
.gitignore

# IDE/editor files
.vscode/
.idea/
*.swp
*.swo

# System files
.DS_Store
Thumbs.db

imp_docs/

# ocr_test receipts
ocr_test/*