name: yugantar
services:
  db:
    image: postgres:latest
    container_name: yugantar-db
    env_file:
      - ../backend/.env
    ports:
      - "5432:5432"
    # secrets:
    #   - db_password
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - yugantar-network
    restart: unless-stopped
  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin
    env_file:
      - ../backend/.env
    ports:
      - "8080:80"  
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    networks:
      - yugantar-network
    restart: unless-stopped
  backend:
    image: backend:v1
    build:
      context: ..
      # dockerfile: docker/Dockerfile.backend
      dockerfile: docker/Dockerfile.backend.dev
    container_name: yugantar-backend
    env_file:
      - ../backend/.env
    ports:
      - "8001:8000"  # 8000 inside the container but mapped to 8001 on host
    depends_on:
      - db
    volumes: 
      - ../backend:/app
    networks:
      - yugantar-network
    restart: unless-stopped
  
  frontend:
    image: frontend:v1
    build:
      context: ..
      dockerfile: docker/Dockerfile.frontend
    container_name: yugantar-frontend
    environment:
      REACT_APP_API_URL: http://backend:8000  # This should point to the backend service
    ports:
      - "3000:80"
    depends_on:
      - backend
    # volumes:
    #   - ../frontend:/app
    networks:
      - yugantar-network
    restart: unless-stopped

  portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer
    # command: -H unix:///var/run/docker.sock
    command: [
        "--host", "unix:///var/run/docker.sock",
        "--no-analytics"
    ]
    restart: always
    user: "0:0"  # Run as root
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data
    ports:
      - "9000:9000"
      - "8000:8000"
    networks:
      - yugantar-network
    
  
# secrets:
#   db_password:
#     file: ./secrets/db_password.txt  # password for PostgreSQL
#   pgadmin_password:
#     file: ./secrets/pgadmin_password.txt  # password for PgAdmin login

volumes:
  db_data:
  pgadmin_data:
  portainer_data:

networks:
  yugantar-network:
    driver: bridge