name: yugantar
services:
  db:
    image: postgres:latest
    container_name: yugantar-db
    env_file:
      - ../backend/.env
    ports:
      - "5432:5432"
    # secrets:
    #   - db_password
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - yugantar-network
    restart: unless-stopped
  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin
    env_file:
      - ../backend/.env
    ports:
      - "8080:80"  
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    networks:
      - yugantar-network
    restart: unless-stopped
  backend:
    image: backend:v1
    build:
      context: ..
      # dockerfile: docker/Dockerfile.backend
      dockerfile: docker/Dockerfile.backend.dev
    container_name: yugantar-backend
    env_file:
      - ../backend/.env
    ports:
      - "8001:8000"  # 8000 inside the container but mapped to 8001 on host
    depends_on:
      - db
    volumes: 
      - ../backend:/app
    networks:
      - yugantar-network
    restart: unless-stopped
  
  frontend:
    image: frontend:v1
    build:
      context: ..
      # dockerfile: docker/Dockerfile.frontend   # for production
      dockerfile: docker/Dockerfile.frontend.dev
    container_name: yugantar-frontend
    environment:
      CHOKIDAR_USEPOLLING: "true"       # ensures hot reload works on Docker
      WATCHPACK_POLLING: "true"
      REACT_APP_API_URL: http://backend:8000  # This should point to the backend service
    command: npm run dev
    ports:
      - "3000:3000"  # Vite default dev server port
    depends_on:
      - backend
    #TODO: remove this volume in production
    volumes:
      - ../frontend/yugantar:/app       # live code changes reflect instantly
      - /app/node_modules  
    networks:
      - yugantar-network
    restart: unless-stopped

  # portainer:
  #   image: portainer/portainer-ce:2.32.0
  #   # image: portainer/portainer-ce:latest
  #   container_name: portainer
  #   restart: always
  #   volumes:
  #     - /var/run/docker.sock:/var/run/docker.sock
  #     - portainer_data:/data
  #   ports:
  #     - "9000:9000"
  #     - "9443:9443" 
  #   networks:
  #     - yugantar-network
    
  
# secrets:
#   db_password:
#     file: ./secrets/db_password.txt  # password for PostgreSQL
#   pgadmin_password:
#     file: ./secrets/pgadmin_password.txt  # password for PgAdmin login

volumes:
  db_data:
  pgadmin_data:
  # portainer_data:

networks:
  yugantar-network:
    driver: bridge